@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  overflow-y: scroll;
}
.edit_container {
  overflow: hidden !important;
  height: 100vh !important;
}
.loader_title {
  font-size: 20px;
  background: -webkit-linear-gradient(#0f0c29, #302b63, #24243e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --orange: #ff9000;
  --green: #00cc2f;
  --blue: #8d39ff;
  --button-blue: #0654ce;
  --light-background: #e4ecf7;
  --dark-blue: #0654ce;
  --font-color: #000000;
  --font-inter: "Inter", sans-serif;
  --font-inder: "Inder", sans-serif;
  --background: #f9faff;
  --blue-new: #0090ff;
}
.img-wrapper {
  overflow: hidden;
}
img.hover-zoom:hover {
  transform: scale(1.03);
}
.css-t1fmnr-MuiFormControlLabel-root .MuiFormControlLabel-label {
  width: "100%" !important;
}
/* // Changing MUI textfield label size */
.MuiInputLabel-root {
  font-size: 15px !important;
}

@media (max-width: 1300px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
}

.myDiv {

  transform: translate(-50%, -50%);
  background-color: rgb(226, 226, 226);
  transition: all 0.5s ease-in-out;
  height: 269px;
  width: 532px;
  left: 16.5em;
  position: relative;
  top:12em;
  border-radius: 25px;
  overflow: none;
}

.enlarged {
 
  left: 50%;
  top: 50%;
  position: absolute;
  overflow: scroll;
 
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transform: translate(-50%, -50%) scale(1.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
